#container {
  margin: 10px 0px 0px 10px;
  padding: 10px;
}

#messages-container {
  float: left;
  border: 1px solid #CCCCCC;
  width: 800px;
  height: 300px;
  overflow: auto;
    border: 1px solid #000000;
-moz-border-radius: 7px;
-webkit-border-radius: 7px;
padding: 10px;
font-family: 'Indie Flower', cursive;
background-color: #C7C7C7;
}

#users {
  float: left;
  margin-left: 10px;
  border: 1px solid #CCC;
  overflow: auto;
  height: 300px;
  width: 200px;
  font-family: 'Indie Flower', cursive;
  border: 1px solid #000000;
-moz-border-radius: 7px;
-webkit-border-radius: 7px;
padding: 10px;

background-color: #A0A0A0;
}

.clear {
  clear: both;
}

#msg-input {
  margin-top: 20px;
}

#msg-input input {
  width: 800px;
  height: 30px;
    border: 1px solid #000000;
-moz-border-radius: 7px;
-webkit-border-radius: 7px;
padding: 10px;
font-family: 'Indie Flower', cursive;
}

header h1{
font-family: 'Oswald', sans-serif;
text-align: center;
}

footer{
  text-align: center;
  font-family: 'Oswald', sans-serif;
}


